.button {
  width: auto;
  border: 8em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none !important;
  font-family: 'Major Mono Display', monospace;
}

.button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:after {
  content: '';
  border-radius: 8em;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #101022;
}

.button:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.button:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.green-btn {
  background-image: linear-gradient(45deg, #45dc4d, #6cb36a);
}
.green-btn .text {
  background-image: linear-gradient(45deg, #45dc4d, #6cb36a);
}
.green-btn:hover {
  background-image: linear-gradient(-45deg, #45dc4d, #6cb36a);
}
.green-btn:hover .text {
  background-image: linear-gradient(-45deg, #45dc4d, #6cb36a);
}

.orange-btn {
  background-image: linear-gradient(45deg, #dc9645, #b38b6a);
}
.orange-btn .text {
  background-image: linear-gradient(45deg, #dc9645, #b38b6a);
}
.orange-btn:hover {
  background-image: linear-gradient(-45deg, #dc9645, #b38b6a);
}
.orange-btn:hover .text {
  background-image: linear-gradient(-45deg, #dc9645, #b38b6a);
}

.red-btn {
  background-image: linear-gradient(-45deg, #dc4545, #b36a6a);
}
.red-btn .text {
  background-image: linear-gradient(-45deg, #dc4545, #b36a6a);
}
.red-btn:hover {
  background-image: linear-gradient(-45deg, #dc4545, #b36a6a);
}
.red-btn:hover .text {
  background-image: linear-gradient(-45deg, #dc4545, #b36a6a);
}
